* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: black;
  height: 60px;
  border-radius: 20px;
  color: white;
}
a {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

body {
  background-color: white;
  background-image: url("mapbackround.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.imap {
  width: 33%;
  margin: auto;

  padding-top: 60px;
}
.imap path {
  fill: #f4a64d;
  stroke: white;
  stroke-width: .5px;
  transition: fill 0.3s;
}
.imap path:hover{
  fill: rgb(198, 59, 35);
  transition: fill 0.3s;
}
.imap path:hover + .after{
  display: block;
}
.after{
  display: none;
}
.search-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #b9b483;
  border-radius: 5px;
  padding: 5px;
  margin-left: 1200px;
  margin-top: 30px;
  width: 50%;
  max-width: 300px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.search-bar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar button:hover {
  background-color: #444;
}